<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/aakashjindal/IdeaProjects/restAssuredTest/src/test/java/org/example/JSONSchemaValidator.java">
        <classes>
            <class name="org.example.JSONSchemaValidator">
                <methods>
                    <include name="getReq"/>
                    <include name="postReq"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>